*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color:rgb(135, 219, 135);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 5px;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box{
    color:rgb(15, 19, 15);
    font-weight: 600;
    font-size: 23px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius:5px;
}

#ptop{
    padding: 0 30%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(89, 150, 89);
}

.pbtm{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100%-100px);
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(12, 65, 12);
    border-radius: 50%;
    color: #fff;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(32, 104, 32);
}